<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"  href="/css/global.css" />
    <title>MyIas</title>

    <style>
        body {
            box-sizing: border-box;
            font-size: 14px;
            font-family: "Open Sans", sans-serif;

            padding: 0;
            margin: 0;
            min-height: 100vh;
            display: grid;
            grid-template-rows: 50px 1fr 30px;
            grid-template-columns: 235px 1fr;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        header,
        footer {
            background-color: #2B3643;
            grid-column: 1 / 3;
        }

        nav {
            background-color: #364150
        }

        main {
            position: relative;
            padding: 20px;
        }
    </style>
    <style>
        .menu>li {
            border: 1px solid #3d4957;
        }

        .menu>li>a {
            text-decoration: none;
            display: block;
            color: #b4bcc8;
            padding: 10px 15px;
        }

        .menu>li>a:hover,
        .menu>li>a.active {
            background-color: #2C3542;
        }


        .menu .iconRight {
            float: right;
            position: relative;
            top: 5px;
            font-size: 10px;
        }

        .menu h3 {
            color: #708096;
            padding: 15px;
            margin: 0;
        }

        .subMenu>li>a {
            text-decoration: none;
            display: block;
            color: #b4bcc8;
            padding: 10px 15px 10px 30px;
        }

        .subMenu>li>a:hover {
            background-color: #3e4b5c;
        }

        .subMenu .subMenu>li>a{
            text-decoration: none;
            display: block;
            color: #b4bcc8;
            padding-left: 50px;
        }
    </style>
</head>

<body>
    <header>

    </header>

    <nav>
        <p></p>
        <ul class="menu">
          
            <li>
                <a href="#" class="active">
                    <i class="icon-home"></i> Главная <span class="icon-arrow-down iconRight"></span>
                </a>
                <ul class="subMenu">
                    <li> <a href="/Enterprise/Company">Хозяйство</a> </li>
                </ul>
                <ul class="subMenu">
                    <li> <a href="/Enterprise/Farms">Инфраструктура</a> </li>
                </ul>
                <ul class="subMenu">
                    <li> <a href="/Enterprise/Employee">Сотрудники</a> </li>
                </ul>
               
            </li>
            <li>
                <h3>ЖИВОТНОВОДСТВО </h3>
            </li>

            <li>
                <a href="#" class="active">
                    <i class="icon-organization"></i> КРС <span class="icon-arrow-down iconRight"></span>
                </a>
                <ul class="subMenu">
                    <li> <a href="/Cow/CardFile">Картотека</a> </li>
                </ul>
                <ul class="subMenu">
                    <li> 
                        <a href="#">События <span class="icon-arrow-down iconRight"></span></a> 
                        

                        <ul class="subMenu">
                            <li> <a href="#">Осеменение</a> </li>
                        </ul>
                    </li>
                </ul>
              
            </li>
        </ul>

    </nav>
    <main>
        @RenderBody()
    </main>


    <footer>

    </footer>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>