<style>
    .lblFilter {
        display: block;
        margin-bottom: 3px;
    }

    .card {
        border: 1px solid #32c5d2;
        margin-bottom: 10px;
    }

    .card .title {
        font-size: 18px;
        padding: 10px;
        /* background-color: #32c5d2;
        color: white; */
    }

    .title.green:hover {
        color: #FFF;
        background-color: #32c5d2;
        border-color: #32c5d2;
    }
</style>
<div class="card">
    <div class="title green"><i class="fa fa-home"></i>
        <button class="btn outWhite"><i class="fa fa-plus"></i> Добавить</button>
    </div>
    <div class="body">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th style="width: 70px;">Пол.группа</th>
                    <th style="width: 150px;">ИНЖ номер</th>
                    <th style="width: 150px;">Зарубежный номер</th>
                    <th>Инвентарный номер</th>
                    <th>Регистрационный номер</th>
                    <th>Кличка</th>
                    <th style="width: 200px;">Порода</th>
                    <th style="width: 70px;">Дата рождения</th>
                    <th style="width: 70px;">Возраст, мес</th>
                    <th style="width: 200px;">Ферма</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <select>
                            <option disabled>Выберите пол.группу</option>
                        </select>
                    </td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td>
                        <select>
                            <option disabled>Выберите породу</option>
                        </select>
                    </td>
                    <td>
                      
                    </td>
                    <td>
                    </td>
                    <td>
                        <select>
                            <option disabled>Выберите породу</option>
                        </select>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Корова</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>