<style>
    main {
        background-color: #EEF1F5;
    }

    .card {
        background-color: white;
        padding: 20px;
    }

    .card h3 {
        color: #578ebe;
        margin: 0;
    }

    #manager label {
        display: block;
        margin: 5px;
        text-align: right;
    }

    #manager input {
        border: none;
        border-bottom: 1px solid #ccc;
        width: auto;
    }
</style>

<div id="app" style="display: flex;">
    <div class="card">
        <h3>Регистрационный данные (нельзя менять)</h3>
        <hr />
        <p>Тип предприятия: <b>{{info.entType}}</b></p>
        <p>Название предприятия: <b>{{info.entName}}</b></p>
        <p>ИИН/БИН предприятия: <b>{{info.entXin}}</b></p>
        <p>Адрес: <b>{{info.address}}</b></p>
        <p>Телефон: <b>{{info.phone}}</b></p>
        <p>Email: <b>{{info.email}}</b></p>
        <p>Документ регистрации: <b><a target="_blank" v-bind:href="info.document">Просмотреть</a> </b></p>
    </div>

    <div class="card" style="margin-left: 20px;">
        <h3>Руководитель</h3>
        <hr />
        <form id="manager" action="javascript:;">
            <label>
                Фамилия: <input v-model="info.surName" type="text" />
            </label>
            <label>
                Имя: <input v-model="info.name" type="text" />
            </label>
            <label>
                Отчество: <input v-model="info.middleName" type="text" />
            </label>
            <label>
                ИИН: <input v-model="info.iin" type="text" />
            </label>
            <label>
                Логин: <input v-model="info.login" type="text" />
            </label>
            <label>
                Пароль: <input v-model="info.password" v-bind:type="passType" /> <button class="btn green" type="button" v-on:mousedown="passType='text'" v-on:mouseup="passType='password'"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </label>
            <div style="text-align: right;">
                <button type="button" class="btn green">Сохранить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<script>
    let app = new Vue({
        el: '#app',
        data: {
            passType:'password',
            info: {},
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData: async function () {
                let resp = await axios.get('/Enterprise/GetEntInfo');
                this.info = resp.data;
            },
        }
    });
</script>
}