<style>
    .card{
        border: 1px solid #32c5d2;
    }
    .card .title{
        font-size: 18px;
        padding: 10px;
        background-color: #32c5d2;
        color: white;
    }
    .card .body{
        padding: 15px;
    }
    table{
        color: #333;
        width: 100%;
        border-collapse: collapse;
    }
    table thead{
        background-color: #f1f4f7;
    }
    table th, table td{
        padding: 8px;
        border: 1px solid #e7ecf1;
    }
</style>

<div class="card">
    <div class="title"><i class="fa fa-comments"></i> Сотрудники</div>
    <div class="body">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>ИИН</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>