<style>
    .card {
        border: 1px solid #32c5d2;
        margin-bottom: 10px;
    }

    .card .title {
        font-size: 18px;
        padding: 10px;
        /* background-color: #32c5d2;
        color: white; */
    }
</style>

<div id="app">
    <div class="card">
        <div class="title green"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isCow"> Скотоводство (КРС)
            </label>
        </div>
        <div class="body" v-if="isCow">
            <form id="formFarm" action="javascript:;">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Вид фермы</th>
                            <th>Поголовье, гол</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(farm,ind) in cowFarms">
                            <template v-if="farm.isEdit==false">
                                <td>{{ind+1}}</td>
                                <td>{{farm.name}}</td>
                                <td>{{farm.type}}</td>
                                <td>{{farm.count}}</td>
                                <td>
                                    <button class="btn outBlack" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td></td>
                                <td><input v-model="cowFarm.name" required type="text" /></td>
                                <td>
                                    <select v-model.number="cowFarm.type">
                                        <option disabled>Выберите тип</option>
                                        <option value="1">Племенная</option>
                                        <option value="2">Товарная</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td>
                                    <button v-on:click="removeCowFarm();" class="btn outRed" type="button"><i
                                            class="fa fa-eraser"></i></button>
                                    <button v-on:click="saveFarm()" class="btn outBlue"><i
                                            class="fa fa-check"></i></button>
                                </td>
                            </template>
                        </tr>

                    </tbody>
                </table>
            </form>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue" v-on:click="addCowFarm();"><i class="fa fa-plus"></i>Добавить</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title red"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isSheep"> Овцеводство (МРС)
            </label>
        </div>
        <div class="body" v-if="isSheep">
            <form id="formSheepFarm" action="javascript:;">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Вид отары</th>
                            <th>Поголовье, гол</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(farm,ind) in sheepFarms">
                            <template v-if="farm.isEdit==false">
                                <td>{{ind+1}}</td>
                                <td>{{farm.name}}</td>
                                <td>{{farm.type}}</td>
                                <td>{{farm.count}}</td>
                                <td>
                                    <button class="btn outBlack" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td></td>
                                <td><input v-model="sheepFarm.name" required type="text" /></td>
                                <td>
                                    <select v-model.number="sheepFarm.type">
                                        <option disabled>Выберите тип</option>
                                        <option value="1">Племенная</option>
                                        <option value="2">Товарная</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td>
                                    <button v-on:click="removeSheepFarm();" class="btn outRed" type="button"><i
                                            class="fa fa-eraser"></i></button>
                                    <button v-on:click="saveSheepFarm()" class="btn outBlue"><i
                                            class="fa fa-check"></i></button>
                                </td>
                            </template>
                        </tr>

                    </tbody>
                </table>
            </form>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue" v-on:click="addSheepFarm();"><i class="fa fa-plus"></i>Добавить</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="title blue"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isHorse"> Коневодство
            </label>
        </div>
        <div class="body" v-if="isHorse">
            <form id="formHorseFarm" action="javascript:;">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Вид табуна</th>
                            <th>Поголовье, гол</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(farm,ind) in horseFarms">
                            <template v-if="farm.isEdit==false">
                                <td>{{ind+1}}</td>
                                <td>{{farm.name}}</td>
                                <td>{{farm.type}}</td>
                                <td>{{farm.count}}</td>
                                <td>
                                    <button class="btn outBlack" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td></td>
                                <td><input v-model="horseFarm.name" required type="text" /></td>
                                <td>
                                    <select v-model.number="horseFarm.type">
                                        <option disabled>Выберите тип</option>
                                        <option value="1">Племенная</option>
                                        <option value="2">Товарная</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td>
                                    <button v-on:click="removeHorseFarm();" class="btn outRed" type="button"><i
                                            class="fa fa-eraser"></i></button>
                                    <button v-on:click="saveHorseFarm()" class="btn outBlue"><i
                                            class="fa fa-check"></i></button>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue" v-on:click="addHorseFarm();"><i class="fa fa-plus"></i>Добавить</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title grey"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isCamel"> Верблюдоводство
            </label>
        </div>
        <div class="body" v-if="isCamel">
            <form id="formCamelFarm" action="javascript:;">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Вид стада</th>
                            <th>Поголовье, гол</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(farm,ind) in camelFarms">
                            <template v-if="farm.isEdit==false">
                                <td>{{ind+1}}</td>
                                <td>{{farm.name}}</td>
                                <td>{{farm.type}}</td>
                                <td>{{farm.count}}</td>
                                <td>
                                    <button class="btn outBlack" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td></td>
                                <td><input v-model="camelFarm.name" required type="text" /></td>
                                <td>
                                    <select v-model.number="camelFarm.type">
                                        <option disabled>Выберите тип</option>
                                        <option value="1">Племенная</option>
                                        <option value="2">Товарная</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td>
                                    <button v-on:click="removeCamelFarm();" class="btn outRed" type="button"><i
                                            class="fa fa-eraser"></i></button>
                                    <button v-on:click="saveCamelFarm()" class="btn outBlue"><i
                                            class="fa fa-check"></i></button>
                                </td>
                            </template>
                        </tr>

                    </tbody>
                </table>
            </form>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue" v-on:click="addCamelFarm();"><i class="fa fa-plus"></i>Добавить</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title yellow"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isPig"> Свиноводство
            </label>
        </div>
        <div class="body" v-if="isPig">
            <form id="formPigFarm" action="javascript:;">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Вид стада</th>
                            <th>Поголовье, гол</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(farm,ind) in pigFarms">
                            <template v-if="farm.isEdit==false">
                                <td>{{ind+1}}</td>
                                <td>{{farm.name}}</td>
                                <td>{{farm.type}}</td>
                                <td>{{farm.count}}</td>
                                <td>
                                    <button class="btn outBlack" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td></td>
                                <td><input v-model="pigFarm.name" required type="text" /></td>
                                <td>
                                    <select v-model.number="pigFarm.type">
                                        <option disabled>Выберите тип</option>
                                        <option value="1">Племенная</option>
                                        <option value="2">Товарная</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td>
                                    <button v-on:click="removePigFarm();" class="btn outRed" type="button"><i
                                            class="fa fa-eraser"></i></button>
                                    <button v-on:click="savePigFarm()" class="btn outBlue"><i
                                            class="fa fa-check"></i></button>
                                </td>
                            </template>
                        </tr>

                    </tbody>
                </table>
            </form>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue" v-on:click="addPigFarm();"><i class="fa fa-plus"></i>Добавить</button>
            </div>
        </div>
    </div>

</div>

@section Scripts{
<script>
    let app = new Vue({
        el: '#app',
        data: {
            isCow: false,
            isSheep: false,
            isHorse: false,
            isCamel: false,
            isPig: false,

            cowFarms: [],
            cowFarm: {},
            sheepFarms: [],
            sheepFarm: {},
            horseFarms: [],
            horseFarm: {},
            pigFarms: [],
            pigFarm: {},
            camelFarms: [],
            camelFarm: {}


        },
        mounted() {
            this.getFarms();
            this.getFlocks();
            this.getTabuns();
            this.getHerds();
            this.getCaravans();

        },
        methods: {
            checkIsInvalid: function (form) {
                let arrInput = form.querySelectorAll("[required], [pattern]");
                let isInvalid = false;
                for (let inp of arrInput) {
                    if (inp.checkValidity()) {
                        inp.style.borderBottom = "1px solid #36c6d3";
                    } else {
                        inp.style.borderBottom = "1px solid red";
                        isInvalid = true;
                    }
                }
                return isInvalid;
            },
            getCaravans: async function () {
                let resp = await axios.get('/Enterprise/GetCaravans');
                if(resp.data!=""){
                    this.camelFarms = resp.data;
                    if (this.camelFarms) {
                        this.isCamel = true;
                    }
                }
            },
            getHerds: async function () {
                let resp = await axios.get('/Enterprise/GetHerds');
                if(resp.data!=""){
                    this.pigFarms = resp.data;
                    if (this.pigFarms) {
                        this.isPig = true;
                    }
                }
            },

            getTabuns: async function () {
                let resp = await axios.get('/Enterprise/GetTabuns');
                if(resp.data!=""){
                    this.horseFarms = resp.data;
                    if (this.horseFarms) {
                        this.isHorse = true;
                    }
                }
            },

            getFlocks: async function () {
                let resp = await axios.get('/Enterprise/GetFlocks');
                if(resp.data!=""){
                    this.sheepFarms = resp.data;
                    if (this.sheepFarms) {
                        this.isSheep = true;
                    }
                }
            },

            getFarms: async function () {
                let resp = await axios.get('/Enterprise/GetFarms');
                if(resp.data!=""){
                    this.cowFarms = resp.data;
                    if (this.cowFarms) {
                        this.isCow = true;
                    }
                }
            },
            saveFarm: async function () {
                if (this.checkIsInvalid(formFarm)) {
                    return;
                }
                let resp = await axios.post('/Enterprise/SaveFarms', this.cowFarm);
                this.getFarms();
                alert(resp.data);
            },
            saveSheepFarm: async function () {
                if (this.checkIsInvalid(formSheepFarm)) {
                    return;
                }
                let resp = await axios.post('/Enterprise/SaveFlocks', this.sheepFarm);
                this.getFlocks();
                alert(resp.data);
            },
            saveHorseFarm: async function () {
                if (this.checkIsInvalid(formHorseFarm)) {
                    return;
                }
                let resp = await axios.post('/Enterprise/SaveTabuns', this.horseFarm);
                this.getTabuns();
                alert(resp.data);
            },
            saveCamelFarm: async function () {
                if (this.checkIsInvalid(formCamelFarm)) {
                    return;
                }
                let resp = await axios.post('/Enterprise/SaveCaravans', this.camelFarm);
                this.getCaravans();
                alert(resp.data);
            },
            savePigFarm: async function () {
                if (this.checkIsInvalid(formPigFarm)) {
                    return;
                }
                let resp = await axios.post('/Enterprise/SaveHerds', this.pigFarm);
                this.getHerds();
                alert(resp.data);
            },
            addCowFarm() {
                this.cowFarm = { id: 0, name: '', type: 1, count: 0, isEdit: true };
                this.cowFarms.push(this.cowFarm);

            },
            addSheepFarm(){
                this.sheepFarm = {id:0, name:'', type:1, count: 0, isEdit:true};
                this.sheepFarms.push(this.sheepFarm);
            },
            addHorseFarm(){
                this.horseFarm = {id:0, name:'', type:1, count: 0, isEdit:true};
                this.horseFarms.push(this.horseFarm);
            },
            addCamelFarm(){
                this.camelFarm = {id:0, name:'', type:1, count: 0, isEdit:true};
                this.camelFarms.push(this.camelFarm);
            },
            addPigFarm(){
                this.pigFarm = {id:0, name:'', type:1, count: 0, isEdit:true};
                this.pigFarms.push(this.pigFarm);
            },
            removeCowFarm() {
                this.cowFarms.pop();
            },
            removePigFarm() {
                this.pigFarms.pop();
            },
            removeCamelFarm() {
                this.camelFarms.pop();
            },
            removeHorseFarm() {
                this.horseFarms.pop();
            },
            removeSheepFarm() {
                this.sheepFarms.pop();
            }
        }
    });
</script>
}