<style>
    .card {
        border: 1px solid #32c5d2;
        margin-bottom: 10px;
    }

    .card .title {
        font-size: 18px;
        padding: 10px;
        /* background-color: #32c5d2;
        color: white; */
    }

    /* .card .body {
        padding: 15px;
    } */

    table {
        color: #333;
        width: 100%;
        border-collapse: collapse;
    }

    table thead {
        background-color: #f1f4f7;
    }

    table th,
    table td {
        padding: 5px;
        border: 1px solid #e7ecf1;
    }

    table td:nth-child(1) {
        text-align: center;
    }

    table tbody tr {
        cursor: pointer;
    }

    table tbody tr:hover {
        background-color: #f3f4f6;
    }

    table tbody td {
        text-align: center;

    }
</style>

<div id="app">
    <div class="card">
        <div class="title green"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isCow"> Скотоводство (КРС)
            </label>
        </div>
        <div class="body" v-if="isCow">
            <form id="formFarm" action="javascript:;">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Вид фермы</th>
                            <th>Поголовье, гол</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(farm,ind) in cowFarms">
                            <template v-if="farm.isEdit==false">
                                <td>{{ind+1}}</td>
                                <td>{{farm.name}}</td>
                                <td>{{farm.type}}</td>
                                <td>{{farm.count}}</td>
                                <td>
                                    <button class="btn outBlack" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td></td>
                                <td><input v-model="cowFarm.name" required type="text"/></td>
                                <td>
                                    <select v-model.number="cowFarm.type">
                                        <option disabled>Выберите тип</option>
                                        <option value="1">Молочная</option>
                                        <option value="2">Мясная</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td>
                                    <button v-on:click="removeCowFarm();" class="btn outRed" type="button"><i class="fa fa-eraser"></i></button>
                                    <button v-on:click="saveFarm()" class="btn outBlue"><i class="fa fa-check"></i></button>
                                </td>
                            </template>
                        </tr>

                    </tbody>
                </table>
            </form>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue" v-on:click="addCowFarm();"><i class="fa fa-plus"></i>Добавить</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title red"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isSheep"> Овцеводство (МРС)
            </label>
        </div>
        <div class="body" v-if="isSheep">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Вид отары</th>
                        <th>Поголовье, гол</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>

                </tbody>
            </table>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue"><i class="fa fa-plus"></i>
                    Добавить</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="title blue"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isHorse"> Коневодство
            </label>
        </div>
        <div class="body" v-if="isHorse">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Вид табуна</th>
                        <th>Поголовье, гол</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>

                </tbody>
            </table>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue"><i class="fa fa-plus"></i>
                    Добавить</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="title grey"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isCamel"> Верблюдоводство
            </label>
        </div>
        <div class="body" v-if="isCamel">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Вид стада</th>
                        <th>Поголовье, гол</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>

                </tbody>
            </table>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue"><i class="fa fa-plus"></i>
                    Добавить</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="title yellow"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isPig"> Свиноводство
            </label>
        </div>
        <div class="body" v-if="isPig">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Вид стада</th>
                        <th>Поголовье, гол</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>

                </tbody>
            </table>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue"><i class="fa fa-plus"></i>
                    Добавить</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="title purple"><i class="fa fa-home"></i>
            <label>
                <input type="checkbox" v-model="isBird"> Птицеводство
            </label>
        </div>
        <div class="body" v-if="isBird">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Тип птиц</th>
                        <th>Вид стаи</th>
                        <th>Поголовье, гол</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>

                </tbody>
            </table>
            <div style="margin:5px; text-align: right;">
                <button class="btn outBlue"><i class="fa fa-plus"></i>
                    Добавить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    let app = new Vue({
        el: '#app',
        data: {
            isCow: false,
            isSheep: false,
            isHorse: false,
            isCamel: false,
            isPig: false,
            isBird: false,

            cowFarms: [],
            cowFarm:{},
            sheepFarms: [],
            horseFarms: [],
            camelFarms: [],
            pigFarms: [],
            birdFarms: []
        },
        mounted() {
            this.getFarms();
        },
        methods: {
            checkIsInvalid: function () {
                let arrInput = formFarm.querySelectorAll("[required], [pattern]");
                let isInvalid = false;
                for (let inp of arrInput) {
                    if (inp.checkValidity()) {
                        inp.style.borderBottom = "1px solid #36c6d3";
                    } else {
                        inp.style.borderBottom = "1px solid red";
                        isInvalid = true;
                    }
                }
                return isInvalid;
            },
            getFarms:async function(){
                let resp = await axios.get('/Enterprise/GetFarms');
                this.cowFarms = resp.data;
                if(this.cowFarms){
                    this.isCow = true;
                }
            },
            saveFarm : async function () {
                if (this.checkIsInvalid()) {
                    return;
                }
                let resp = await axios.post('/Enterprise/SaveFarms', this.cowFarm);
                this.getFarms();
                alert(resp.data);
            },
            addCowFarm() {
                this.cowFarm = {id:0, name:'',type:1, count:0, isEdit: true };
                this.cowFarms.push(this.cowFarm );
                
            },
            removeCowFarm(){
                this.cowFarms.pop();
            }
        }
    });
</script>
}