@{
Layout="../Shared/_Login.cshtml";
}
<link rel="stylesheet" href="/css/material.css">
<div id="app" style="background-color:#fff; width: 400px;">
    <h3 style="text-align: center;">Регистрация хозяйства</h3>
    <form id="formEmployee" class="mtForm">

        <label>БИН/ИИН
            <input type="text" required placeholder="Введите фамилию">
        </label>
        <label>Тип хозяйства
            <select>
                <option v-for="e in entTypes" v-bind:value="e.id">{{e.name}}</option>
            </select>
        </label>
        <label>Организационная форма
            <select>
                <option value="АО">Акционерное общество</option>
                <option value="ТОО">Товарищество с ограниченной ответственностью</option>
                <option value="ИП">Индивидуальный предприниматель</option>
                <option value="КХ">Крестьянское хозяйство</option>
                <option value="СХК">Сельско-хозяйственный кооператив</option>
                <option value="ФЛ">Физическое лицо</option>
                <option value="КТ">Коммандитное товарищество</option>
            </select>
        </label>
    </form>
</div>


@section Scripts{
<script>
    let app = new Vue({
        el: '#app',
        data: {
            entTypes: [],
        },
        mounted() {
            this.getEntTypes();
        },
        methods: {
            getEntTypes: async function () {
                let resp = await axios.get('/Login/GetEntTypes');
                this.entTypes = resp.data;
            },
        }
    })
</script>
}