@{
Layout="../Shared/_Login.cshtml";
}
<link rel="stylesheet" href="/css/material.css">
<div>
    <form id="formEmployee" class="mtForm">

        <label>Фамилия
            <input type="text"  required placeholder="Введите фамилию">
        </label>
        <label>Имя
            <input type="text"  required placeholder="Введите имя">
        </label>
        <label>Отчество
            <input type="text"  placeholder="Введите отчество (необ.)">
        </label>
        <label>ИИН
            <input type="text"  required pattern="[0-9]{12}" maxlength="12"
                placeholder="Введите ИИН (12 цифр)">
        </label>
        <label>Должность
            <select >
                <option disabled>Выберите должность</option>
            </select>
        </label>

        <label>Работает с

            <input  type="date" required placeholder="Введите дату">
        </label>
        <!-- <vuejs-datepicker  v-model="emp.fromDate"></vuejs-datepicker> -->
        <label>Статус
            <select >
                <option value="1">Работает</option>
                <option value="2">Отпуск</option>
                <option value="3">Болеет</option>
                <option value="4">Уволен</option>
            </select>
        </label>
    </form>
</div>