@{

}

<div style=" margin: 150px;">
   
    <h1 style="font-size:100px;"><img height="100" src="/img/stop.jpg" />  403 </h1>
    <p style="font-size: 30px;">  Вам запрещен доступ к этому разделу...</p>
</div>