@{
    ViewBag.Title = "404";
    Layout=null;
}

<style>
    body{
        background-color: #333;
        color:white;
        background-image: url('/img/earth.jpg');
        background-size: cover;
        margin: 150px;
    }
</style>

<h1 style="font-size:130px;">404</h1>

<p style="font-size: 30px;">Страница не найдена...</p>