/* global style */
.btn {
    padding: 5px;
    border: 1px solid transparent;
   
}
.btn:focus{
    outline: none;
}

button:hover {
    cursor: pointer;
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
input:focus,
select:focus{
    outline: 1px solid lightblue;
}

/* global color */
.green {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.red {
    color: #FFF;
    background-color: #e7505a;
    border-color: #e7505a;
}
.red:hover{
    background-color: #e12330;
    border-color: #e12330;
    
}

.yellow {
    color: #fff;
    background-color: #F1C40F;
    background-color: #F1C40F;
}

.green:hover {
    background-color: #26a1ab;
    border-color: #26a1ab;

}

.outBlack {
    border: 1px solid #2f353b;
    color: #2f353b;
    background: transparent;
}

.outBlack:hover {
    border-color: #2f353b;
    color: #fff;
    background: #2f353b;
}
.outWhite {
    border: 1px solid #edf4f8;
    color: #edf4f8;
    background: transparent;
}

.outWhite:hover {
    border-color: #edf4f8;
    color: black;
    background: #edf4f8;
}

.outPurple {
    border-color: #8E44AD;
    color: #8E44AD;
    background: transparent;
}

.outPurple:hover {
    border-color: #8E44AD;
    color: #fff;
    background: #8E44AD;
}

.outBlue {
    color: #3598dc;
    background-color: transparent;
    border-color: #3598dc;
}

.outBlue:hover {
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
}

.outRed {
    color: #e43a45;
    background-color: transparent;
    border-color: #e43a45;
}

.outRed:hover {
    color: #fff;
    background-color: #e43a45;
    border-color: #e43a45;
}