/* global style */
.btn {
    padding: 5px;
    border: 1px solid transparent;
   
}
.btn:focus{
    outline: none;
}

button:hover {
    cursor: pointer;
}

input[type='text'],
input[type='number'],
input[type='password'],
select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
input:focus,
select:focus{
    outline: 1px solid lightblue;
}
table {
    color: #333;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #f1f4f7;
}

table th,
table td {
    padding: 5px;
    border: 1px solid #e7ecf1;
}

table td:nth-child(1) {
    text-align: center;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr:hover {
    background-color: #f3f4f6;
}

table tbody td {
    text-align: center;

}

/* global color */
.green {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
.green:hover {
    background-color: #26a1ab;
    border-color: #26a1ab;

}
.blue{
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
}
.blue:hover{
    background-color: hsl(204, 70%, 40%);
    border-color: hsl(204, 70%, 40%);
}

.red {
    color: #FFF;
    background-color: #e7505a;
    border-color: #e7505a;
}
.red:hover{
    background-color: #e12330;
    border-color: #e12330;
    
}

.grey{
    color: #fff;
    background-color: #8e9bae;
    border-color:  #8e9bae;
}
.grey:hover{
    color: #fff;
    background-color: hsl(216, 16%, 50%);
    border-color:  hsl(216, 16%, 50%);
}

.yellow {
    color: #fff;
    background-color: hsl(48, 89%, 40%);
    border-color: hsl(48, 89%, 40%);
}
.yellow:hover{
    background-color: hsl(48, 89%, 30%);
    border-color: hsl(48, 89%, 30%); 
}
.purple{
    color:#fff;
    background-color: #8E44AD;
    border-color: #8E44AD;
}
.purple:hover{
    color:#fff;
    background-color: hsl(282, 44%, 40%);
    border-color: hsl(282, 44%, 40%);
}




.outBlack {
    border: 1px solid #2f353b;
    color: #2f353b;
    background: transparent;
}

.outBlack:hover {
    border-color: #2f353b;
    color: #fff;
    background: #2f353b;
}
.outWhite {
    border: 1px solid #edf4f8;
    color: #edf4f8;
    background: transparent;
}

.outWhite:hover {
    border-color: hsl(0, 0%, 100%);
    color:  hsl(0, 0%, 100%);
    background: transparent;
}

.outPurple {
    border-color: #8E44AD;
    color: #8E44AD;
    background: transparent;
}

.outPurple:hover {
    border-color: #8E44AD;
    color: #fff;
    background: #8E44AD;
}

.outGreen {
    color: #32c5d2;
    background-color: transparent;
    border-color: #32c5d2;
}
.outGreen:hover {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.outBlue {
    color: #3598dc;
    background-color: transparent;
    border-color: #3598dc;
}

.outBlue:hover {
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
}

.outRed {
    color: #e43a45;
    background-color: transparent;
    border-color: #e43a45;
}

.outRed:hover {
    color: #fff;
    background-color: #e43a45;
    border-color: #e43a45;
}