.mtForm {
    margin: 0 40px;
}

.mtForm label {
    color: #36c6d3;
    display: block;
    margin-bottom: 10px;
}

.mtForm input,
.mtForm select,
.mtForm textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    outline: none;
    width: 100%;
    padding-left: 0;
}

.mtForm input:focus,
.mtForm select:focus,
.mtForm textarea:focus {
    border-bottom: 1px solid #36c6d3;
}